Start Location: <input type="text" name="fstartLocation">
End Location: <input type="text" name="fendLocation">
Road Strategy Guide:
<form>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="DEFAULT_STRATEGY" />
<label for="DEFAULT_STRATEGY">Default</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_UP_HILL" />
<label for="AVOID_UP_HILL">Avoid up hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_DOWN_HILL" />
<label for="AVOID_DOWN_HILL">Avoid down hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_ALL_HILLS" />
<label for="AVOID_ALL_HILLS">Avoid all hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_UP_HILL" />
<label for="age_adult">Favor up hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_DOWN_HILL" />
<label for="age_adult">Favor down hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_DOWN_HILL" />
<label for="age_adult">Favor all hills</label>
</form>
<input type="submit" value="Submit">
