<div id='title'>
  <h1>Get The Perfect Elevation</h1>
</div>
<div id='addRoute'>
  <%= render partial: "route_form" %>
  <% unless params["startLocation"].nil? && params["endLocation"].nil?  %>
    <%= render partial: "save_form" %>
  <%end%>
</div>
<div id="narrative" class="hidden"></div>

<div id='routeChart'></div>

<div id='map'></div>
 


<!-- <div id='profileResponse'></div> -->
 