/** {
	border: 1px solid black;
}*/
body {
	/*background-color: rgba(236, 240, 241,1.0);*/
	background: url('http://bgfons.com/upload/clouds_texture2877.jpg');
	color: black;
}
h1 {
	font-family: 'Marko One', serif;
}
h2{
	font-family: 'Marko One', serif;
}
h3 {
	font-family: 'Marko One', serif;
}
h4 {
	font-family: 'Marko One', serif;
}

p {
	font-family: 'Marko One', serif;
	font-size: 15px;
}

p a {
	font-family: 'Marko One', serif;
	color: #F7CA18;
	font-size: 15px;
}

p a:hover {
	color: #019875;
}

#title {
	text-align: center;
	margin: 5px;
}

#startL {
	margin-left:auto;
	margin-right:auto;
	width: 70%;
}

#endR {
	margin-left:auto;
	margin-right:auto;
	width: 70%;
}
 
.strategy {
	margin-left:auto;
	margin-right:auto;
	width: 70%;
}

#buttons {
	/*float: right;*/
	/*max-width: 500px;*/
}

#usersShow {
	margin-top: 60px;
}

#addRoute {
	margin-top: 60px;
	margin-left:20px;
	margin-right:20px;
}

#map {
	border: 1px solid white;
	margin-top: 5px;
}

/*#startL {
	float: left;
	padding: 5px;
}

#endL {
	flaot: right;
	padding: 5px;
}*/

.hidden {
	visibility: false;
}
		
#narrative tbody tr {
	max-width: 100px;
}

#narrative {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding: 5px;
	color: black;
	font-size: 18px;
	font-family: 'Marko One', serif;
}

button {
	display: inline;
}

input {
	border-radius: 5px;
}

#routeChart{
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}

#soNav {
	background-color: rgba(31, 58, 147, .5);
	font-weight: bold;
}

.navbar .nav > li > a {
	color: black;
	font-size: 18px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand{
	color: black;
}

#signUP {
	/*margin-left:auto;
	margin-right:auto;
	width:70%;*/
}

#signupheader {
	margin-left: 350px;
	margin-right:5px;
}

.roadGradeStrategy {
	font-size: 20px;
}

@media only screen and (max-width: 1200px){
  #startL {
	}

	#endR {
	}

	#routeChart{
		margin-left:auto;
		margin-right:auto;
		width: 99%;
	}

	#narrative {}
}
